body {
  background-color: #f1faee;
  box-sizing: border-box;
}

.weather-card {
  background-color: #fff;
  margin: 2vh auto 0 auto;
  border-radius: 3rem;
  min-height: 45rem;
  padding: 0;
  overflow: hidden;
  background-color: #35617c;
}
.button {
  background-color: #2b4e80;
  border: 1px solid #2b4e80;
}

.top {
  color: #f1faee;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.19);
}

h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.icon-location {
  font-size: 1.1rem;
  position: relative;
  top: -6px;
}

#time-span {
  position: relative;
  top: -0.5rem;
  left: 1rem;
}

h2 {
  position: relative;
  top: 1rem;
  font-size: 7rem;
  color: #f1faee;
}

.degree-cf {
  min-width: 16rem;
}

.current-cf {
  font-size: 3rem;
  position: relative;
  top: -2rem;
  right: 0.5rem;
}

.description-ul {
  list-style: none;
  padding: 0;
}
.cf-span {
  font-size: 2rem;
  text-align: center;
}

.cf-span a {
  text-decoration: none;
  color: #a8dadc;
}
.cf-span a:hover {
  color: aqua;
}

.top-info {
  height: 85%;
}

form {
  text-align: center;
}
.button {
  padding-left: 2rem;
  padding-right: 2rem;
}
.search-input {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: inline-block;
}

.btn-current {
  width: 100%;
}

.search-submit {
  display: block;
  width: 100%;
}

.bottom {
  /* background-color: rgba(255, 255, 255, 0.65); */
  background-color: #a8dadc;
  padding-bottom: 1.5rem;
  min-height: 100%;
}

.description {
  text-align: center;
  /* position: relative;
  top: 1rem; */
}

.forecast-row i {
  font-size: 2.5rem;
  color: rgb(73, 77, 87);
}

.time-span {
  font-size: 0.9rem;
  color: rgb(73, 77, 87);
}

.degree-span {
  font-size: 1.5rem;
}

.weather-forecast-temp-min {
  color: #2b4e80;
}

@media screen and (max-width: 575px) {
  .weather-card {
    margin: 0;
    border-radius: 0;
  }
}
